#root {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-body {
  background-color: #3390ec;
  display: flex;
  
}
.profile-section {
  background-color: #002346;
}

.message-section {
  background-color: #000a13;
  width: 100%;
}